<footer>
  <div class="about">
    <div class="container">
      <div class="d-flex">
        <div class="p-2 flex-fill">
          <img src="assets/img/orlando-logo.png" alt="">
        </div>
        <div class="p-2 flex-fill">
          <h4>NEXT MATCHES</h4>
          <div>
            <ul>
              <li>
                <p>Name Time VS Name Time</p>
              </li>
              <li>
                <p>Name Time VS Name Time</p>
              </li>
              <li>
                <p>Name Time VS Name Time</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-2 flex-fill">
          <h4>GET IN TOUCH</h4>
          <P>618 E. South Street, Suite 510 Orlando, FL 32801</P>
          <P>1.855 ORL.CITY</P>
          <div class="social-networks">
            <img src="/assets/img/social/facebook.svg" alt="Facebook">
            <img src="/assets/img/social/twitter.svg" alt="twitter">
            <img src="/assets/img/social/instagram.svg" alt="Instagram">
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Desenvolvido -->
  <div class="container developed">
    <div class="d-flex">
      <div class="flex-grow-1 align-self-center">
        Copyright © Orlando City Soccer 2019. All rights reserved
      </div>
      <div class="align-self-center">
        <strong>
          Created by Henrique Suel
        </strong>
      </div>

    </div>
  </div>
</footer>